aniso8601==9.0.1
bidict==0.21.2
cffi==1.14.5
click==7.1.2
dnspython==1.16.0
eventlet==0.30.2
Flask==1.1.2
Flask-Login==0.5.0
Flask-RESTful==0.3.8
Flask-SocketIO==5.0.1
greenlet==1.0.0
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
pycparser==2.20
python-engineio==4.0.1
python-socketio==5.1.0
pytz==2021.1
six==1.15.0
Werkzeug==1.0.1
zope.event==4.5.0
zope.interface==5.3.0
