{% extends "base.html" %}
{% block title %}Chat Room{% endblock %}

{% block page %}
    <div class="d-flex p-2 mt-2 justify-content-around align-items-center">
        <h5 class="fs-4 col-md-3">room name</h5>
        <a href="home" class="col-md-1 fs-4 btn btn-secondary">Home</a>
    </div>

    <div class="p-2 d-flex flex-column justify-content-center border border-1 rounded mx-auto" style="color: whitesmoke; background-color: aliceblue;width: 40%;">
        <div class="col-md-5 bg-secondary mt-3 align-self-start border rounded-pill">
            <p class="p-0 fs-6 text-md-center m-2">sender5: Hello everyone</p>
        </div>
        <div class="col-md-5 bg-secondary mt-3 align-self-start border rounded-pill">
            <p class="p-0 fs-6 text-md-center m-2">sender4: Hello everyone</p>
        </div>
        <div class="col-md-5 bg-secondary mt-3 align-self-start border rounded-pill">
            <p class="p-0 fs-6 text-md-center m-2">sender3: Hello everyone</p>
        </div>
        <div class="col-md-5 bg-secondary mb-3 mt-3 align-self-start border rounded-pill">
            <p class="p-0 fs-6 text-md-center m-2">sender2: Hello everyone</p>
        </div>
        <div class="col-md-5 bg-secondary mb-3 align-self-start border rounded-pill">
            <p class="p-0 fs-6 text-md-center m-2">sender1: Hello everyone</p>
        </div>
        <div class="col-md-5 bg-primary mb-3 align-self-end border rounded-pill">
            <p class="p-0 fs-6 text-md-center m-2">Hello everyone</p>
        </div>
    </div>
{% endblock %}