{% extends "base.html" %}
{% block title %}{{ room.name }}{% endblock %}

{% block page %}
    <div class="d-flex p-2 mt-2 justify-content-around align-items-center">
        <h5 class="fs-4 col-md-3">{{ room.name }}</h5>
        <a href="/home" class="col-md-1 fs-4 btn btn-secondary">Home</a>
    </div>

    <div id="chat-container" class="p-2 d-flex flex-column justify-content-center border border-1 rounded mx-auto"
         style="min-height:400px; overflow-y: scroll; color: whitesmoke; background-color: aliceblue; width: 40%;">
           {% for msg in room.messages %}
            {% if msg.sender.user_id == user.user_id %}
                <div class="col-md-5 bg-primary mb-3 align-self-end border rounded-pill">
                    <p class="p-0 fs-6 text-md-center m-2">{{ msg.content.message }}</p>
                </div>
            {% else %}
                <div class="col-md-5 bg-secondary mt-3 align-self-start border rounded-pill">
                    <p class="p-0 fs-6 text-md-center m-2">{{ msg.sender.username }}: {{ msg.content.message }}</p>
                </div>
            {% endif %}
        {% endfor %}
    </div>

    <!--<div class="d-flex p-2 mt-2 justify-content-around align-items-center">
        <form id="chatting-form" class="form w-50">
            <div class="form-group">
                <input id="message-input" type="text" name="message" placeholder="type here..." class="form-control input-group">
                <input type="submit" name="reply-btn" value="Send" class="btn btn-primary mt-3 input-group">
            </div>
        </form>
    </div>-->
{% endblock %}

{% block script %}
    <script>
        $(document).ready(() => {
            const socket = io.connect(`${location.protocol}//${document.domain}:${location.port}`);
            const chatContainer = $("#chat-container");

            socket.emit('send_message', {
                            message: "{{ bot(None, True) }}",
                            username: "{{ user.username }}",
                            personality: "{{ user.personality }}",
                            user_id: "{{ user.user_id }}",
                            room_id: "{{ room.room_id }}"
                            });

            socket.on('connect', () => {
                socket.emit('join_room', {
                    username: "{{ user.username }}",
                    user_id: "{{ user.user_id }}",
                    room_name: "{{ room.name }}",
                    room_id: "{{ room.room_id }}"
                });

            });

            socket.on('receive_message', (data) => {
                const receivedMessageElement = `
                    <div class="col-md-5 bg-secondary mt-3 align-self-start border rounded-pill">
                        <p class="p-0 fs-6 text-md-center m-2">${data.username}: ${data.message}</p>
                    </div>`

                const sentMessageElement = `
                    <div class="col-md-5 bg-primary mt-3 align-self-end border rounded-pill">
                        <p class="p-0 fs-6 text-md-center m-2">${data.message}</p>
                    </div>`

                if( data.user_id === "{{ user.user_id }}" ){
                    chatContainer.append(sentMessageElement);
                }else {
                    chatContainer.append(receivedMessageElement);
                }
            });

            socket.on('user_joined',(data) => {
                //const element = `<p class="mx-auto fs-6" style="color: black"> ----> ${data.username} joined the room <---- </p>`;
                //chatContainer.append(element);
            });


        });

        //const chattingForm = $("#chatting-form");
        /*chattingForm.on('submit',(event) => {
                    event.preventDefault();
                    const messageInput = $("#message-input");
                    if(messageInput.val().trim().length) {
                        socket.emit('send_message', {
                            message: "{{ bot(None, True) }}",
                            username: "{{ user.username }}",
                            personality: "{{ user.personality }}",
                            user_id: "{{ user.user_id }}",
                            room_id: "{{ room.room_id }}"
                        });
                        messageInput.val("").focus();
                    }
                });*/
    </script>
{% endblock %}

