{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block page %}
    <div class="container mt-4">
        <div class="row mx-auto w-100 justify-content-around align-items-start">
            <div class="col-md-6 order-md-1 mt-3">
                <h2 class="mb-5">Available chat rooms:</h2>
                {% if rooms %}
                    {% for room in rooms %}
                        <div class="mt-3">
                            <h4>{{ room.name }}</h4>
                                {% if user in room.users %}
                                    <a href="chatroom/{{ room.room_id }}"
                                       class="px-auto pt-1 m-2 d-inline fw-bolder btn btn-outline-success btn-sm"
                                       style="text-decoration: none;">Open
                                    </a>
                                    {% if user.user_id == room.creator.user_id %}
                                        <form action="/api/room/{{ room.room_id }}" class="form d-inline" method="POST">
                                            <input type="submit" value="Delete"
                                               class="px-auto pt-1 m-2  fw-bolder btn btn-outline-danger btn-sm"
                                               style="text-decoration: none;">
                                        </form>
                                    {% endif %}
                                {% else %}
                                    <form action="/api/room/{{ room.room_id }}/users" class="form" method="POST">
                                        <input type="submit" value="Join"
                                           class="px-auto pt-1 m-2  fw-bolder btn btn-outline-success btn-sm"
                                           style="text-decoration: none;">
                                    </form>
                                {% endif %}
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="alert alert-info" role="alert">
                        There is no room to join. Please create one.
                    </div>
                {% endif %}
            </div>

            <div class="col-md-5 order-md-2 m-2">
                <div class="h-25 w-100 row justify-content-around align-items-center border border-1 rounded">
                    <h4 class="col-md-4 mt-2 mb-2">{{ user.username }}</h4>
                    <a class="btn btn-info col-md-3" href="profile"
                       style="text-decoration: none; color: azure">Profile</a>
                    <a class="btn btn-secondary col-md-3 m-2" href="logout" style="text-decoration: none;">Logout</a>
                </div>


                <div class="mt-5 w-100">
                    <h3>Create a new room here:</h3>
                    <form action="/api/rooms" method="POST" class=" border rounded row mx-auto" style=" background: #dbcaca;">
                        <label for="name" class="fw-bolder form-label w-75 mt-3 mx-auto">Give your room a name:</label>
                        <input type="text" name="room_name" id="name" class="form-control w-75 mx-auto">
                        <div class="w-75 mx-auto">
                            <label for="personalty" class="form-label fw-bolder">Choose a bot to talk with:</label>
                            <select name="room_type" id="room_type" class="form-control" size=1>
                                <option value="">Personalities</option>
                                <option value="sweet">Sweet Room</option>
                                <option value="energetic">Energetic Room</option>
                                <option value="annoying">Annoying Room</option>
                                <option value="grumpy">Grumpy Room</option>
                            </select>
                        </div>
                        <input type="submit" id="createRoom" class="btn btn-success mt-3 mb-4 w-75 mx-auto"
                               value="Create Room">

                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block script %}
{% endblock %}