{% extends "base.html" %}

{% block title %}Login page{% endblock %}

{% block page %}
    <div class="container-md h-75 w-50">
        <div class="row align-items-center h-100">
            <form action="" method="POST" class="form-group col-8 mx-auto border rounded" style="background: #dbcaca">
                {{ form.hidden_tag() }}
                <div class="col-10 mt-3 mb-1 mx-auto">
                    {{ form.username.label(class="form-label fw-bolder") }}
                    {{ form.username(class="form-control") }}
                </div>
                <div class="col-10 mx-auto">
                    {{ form.submit(class="col-10 form-control mt-3 mb-3 btn btn-primary") }}
                </div>
            </form>
        </div>
    </div>
{% endblock %}