{% extends "base.html" %}

{% block title %}Login page{% endblock %}

{% block page %}
    <div class="container-md h-75 w-50 mt-5">
        <div class="row align-items-center h-100">
            <div class="row">
                <div class="col-md-10 mx-auto">
                    <h2>Login</h2>
                </div>
                <form action="/login" method="POST" class="form-group col-md-10 mx-auto border rounded"
                      style="background: #dbcaca">
                    <div class="col-md-10 mt-3 mb-1 mx-auto">
                        <label for="username" class="form-label fw-bolder">Enter a username:</label>
                        <input name="username" id="username" type="text" class="form-control" placeholder="Alex">
                    </div>
                    <div class="col-md-10 mt-3 mb-1 mx-auto">
                        <label for="password" class="form-label fw-bolder">Password:</label>
                        <input name="password" id="password" type="password" class="form-control">
                    </div>
                    <div class="col-md-10 mx-auto">
                        <input type="submit" value="Login"
                               class="fw-bolder col-10 form-control mt-3 mb-3 btn btn-primary"/>
                    </div>
                </form>
                {% if msg %}
                    <div class="col-md-10 mx-auto mt-3 align-items-center alert alert-warning alert-dismissible fade show"
                         role="alert">
                        {{ msg }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endif %}
                <div class="col-md-10 mx-auto mt-3 align-items-center fs-5">
                    <p>
                        <!--The program contains four ready users to use:
                        <li>Alex</li>
                        <li>Anna</li>
                        <li>Edward</li>
                        <li>Helena</li>-->
                        Not a member yet? Register here!
                        <a href="register" class="px-auto pt-1 m-2  fw-bolder btn btn-outline-secondary btn-sm" style="text-decoration: none;">Register</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}
{% endblock %}
