{% extends "base.html" %}

{% block title %}Register page{% endblock %}

{% block page %}
    <div class="container-md h-75 w-50">
        <div class="row align-items-center h-100">
            <form class="form-group col-8 mx-auto border rounded" style="background: #dbcaca">
                <div class="col-10 mt-3 mb-1 mx-auto">
                    <label class="form-label fw-bolder">Username</label>
                    <input id="username" class="form-control">
                </div>
                <div class="col-10 mx-auto">
                    <button class="col-10 form-control mt-3 mb-3 btn btn-primary" id="registerBtn">Register</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        $("#registerBtn").click(function (){
            const user = {
                username : $("#username").val(),
            }
            $.post('/api/users',user, ()=> console.log(user));
        })
    </script>
{% endblock %}


<!--<form action="" method="POST" class="form-group col-8 mx-auto border rounded" style="background: #dbcaca">
    {{ form.hidden_tag() }}
    <div class="col-10 mt-3 mb-1 mx-auto">
        {{ form.username.label(class="form-label fw-bolder") }}
        {{ form.username(class="form-control") }}
    </div>
    <div class="col-10 mx-auto">
        {{ form.submit(class="col-10 form-control mt-3 mb-3 btn btn-primary") }}
    </div>
</form> -->