{% extends "base.html" %}

{% block title %}Register page{% endblock %}

{% block page %}
    <div class="container-md h-75 w-50 mt-5">
        <div class="row align-items-center h-100">
            <div class="row">
                <form action="/api/users" method="POST" class="form-group col-md-8 mx-auto border rounded"
                      style="background: #dbcaca">
                    <div class="col-md-10 mt-3 mb-1 mx-auto">
                        <label for="username" class="form-label fw-bolder">Username</label>
                        <input name="username" type="text" id="username" class="form-control">
                    </div>
                    <div class="col-md-10 mt-3 mb-1 mx-auto">
                        <label for="personalty" class="form-label fw-bolder"> Choose a personality for your bot:</label>
                        <select name="personality" id="personalty" class="form-control" size=1>
                            <option value="">Personalities</option>
                            <option value="sweet">Sweet</option>
                            <option value="energetic">Energetic</option>
                            <option value="shy">Shy</option>
                            <option value="annoying">Annoying</option>
                            <option value="grumpy">Grumpy</option>
                        </select>
                    </div>
                    <div class="col-md-10 mx-auto">
                        <input id="register" type="submit" value="Register"
                               class="fw-bolder col-10 form-control mt-3 mb-3 btn btn-primary"/>
                    </div>
                </form>
                <div class="col-md-8 mx-auto mt-3 align-items-center">
                    <h5>Else
                        <a href="login" class="px-auto pt-1 m-2 w-25 fw-bolder btn btn-outline-secondary btn-s" style="text-decoration: none;">login</a>if
                        you already have a user
                    </h5>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}

{% block script %}
{% endblock %}
